*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.list-show{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.list-image{
    display: flex;
    transform: translateX();
    transition: 0.5s;
}

img{
    width: 100%;
}

.btn:hover{
    color: #fff;
}

.btn{
    font-size: 40px;
    color: #ececec;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}

.btn-left{
    left: 0;
}

.btn-right{
    right: 0;
}

.index-images{
    position: absolute;
    display: flex;
    bottom: 10px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.index-item{
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 5px;
    margin: 3px;
    border-radius: 50%;
}

.active{
    background-color: #fff;
}


h1{
    text-align: center;
    margin: 30px auto;
    position: relative;
}

h1::after, h1::before {
    content: ''; /* Set content to an empty string */
    width: 100px;
    height: 2px;
    background-color: black;
    position: absolute;
    display: block;
    margin: 0 auto; 
}

.product{
    width:1170px;
    margin: 0 auto;
    background-color: red;
}

.product-cards {
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 100px;
    align-items: center; 
    margin: 0 auto;
}


h1::before{
    left: 33%;
    text-align: center;
    top: 50%;
}


h1::after{
    right: 33%;
    text-align: center;
    top: 50%;
}

.card{
    width: 210px;
    border: 1px solid black;
}

.product-image{
    width: 100%;
}

.product-image > img{
    width: 100%;
}

.product-name {
    font-weight: bold;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    text-overflow: ellipsis;
    max-height: 2em; 
}


.product-name > span{
    width: 100%;
}

.product-sum{
    font-size: 12px;
    line-height: 20px;
}

.product-price{
    font-size: 23px;
    margin-top: 15px;
    font-weight: bold;
}
