* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

li {
     list-style: none;
}

:root {
     --poppins: 'Poppins', sans-serif;
     --lato: 'Lato', sans-serif;

     --light: #F9F9F9;
     --blue: #3C91E6;
     --light-blue: #CFE8FF;
     --grey: #eee;
     --dark-grey: #AAAAAA;
     --dark: #3e3243;
     --red: #DB504A;
     --yellow: #FFCE26;
     --light-yellow: #FFF2C6;
     --orange: #FD7238;
     --light-orange: #FFE0D3;
     --background-color: #10a0c4;
     --black: #000;
     --blue-gray: #D44B55;
     --brown: #793F4E;
     --red-brown: #C0424E;
     --red-pink: #D94B5B;
     --white: #fff;
     --box-shadow: 0 0 10px rgb(0 0 0/15%);
}

html {
     overflow-x: hidden;
}


@font-face {
     font-family: 'MyCustomFont';
     src: url('/font/Manrope-Light.ttf') format('ttf'),
          url('/font/Manrope-ExtraLight.ttf') format('ttf1'),
          url('/font/Manrope-Medium.ttf') format('ttf2'),
          url('/font/Manrope-Regular.ttf') format('ttf3'),
          url('/font/Manrope-SemiBold.ttf') format('ttf4'),
          url('/font/Manrope-ExtraBold.ttf') format('ttf5'),
          url('/font/Manrope-Bold.ttf') format('ttf6'),
     ;
     /* Thêm các định dạng khác nếu cần thiết */
     font-weight: normal;
     font-style: normal;
}

body {
     font-family: 'MyCustomFont', Arial, sans-serif;
     /* Sử dụng font đã khai báo */
     scroll-behavior: smooth;
     overflow-x: hidden
}

body.dark {
     --light: #0C0C1E;
     --grey: #e3e4ec;
     --dark: #29a1f0;
}

html {
     font-size: 16px;
     -ms-overflow-style: scrollbar;
     -webkit-tap-highlight-color: transparent;
     font-family: 'MyCustomFont', Arial, sans-serif;
     --ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     scroll-behavior: smooth;
}

/* img {
     width: 100%;
     height: 100%;
} */

a {
     text-decoration: none;
}

li {
     list-style: none;
}

.flex {
     display: flex;
}

.align-center {
     align-items: center;
}

.flex-center {
     display: flex;
     justify-content: center;
}

.flex-between {
     display: flex;
     justify-content: space-between;
}

.flex-around {
     display: flex;
     justify-content: space-around;
}

#scrollToTop {
     display: none;
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: var(--background-color);
     color: var(--white);
     padding: 10px 20px;
     cursor: pointer;
     transition: opacity 0.3s;
     opacity: 0;
}

#scrollToTop.show {
     opacity: 1;
     display: block;
}

/* ------------------------------------css global-------------------------- */