.page-payment {
    /* display: flex; */
    display: grid;
    grid-template-columns: 65% 35%;
    /* gap: 10px; */
    /* width: 70%; */
    /* margin: 0 auto; */
    /* background-color: rgb(190, 140, 75); */
}

.center-img {
    text-align: center;
    padding: 28px 28px 0px;
    display: inline;
}

.pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-money{
    font-size: 20px;
}

.center-img > img {
    width: 200px;
    height: 40px;
}

.in4-payment {
    
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-top: 20px;
    gap: 20px;
    padding-right: 20px;
}

.title-receiving {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.title-receiving > a {
    font-size: 16px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.736);
}

.title-receiving > a > i {
    font-size: 18px;
}

.form-in4-pay {
}

.inp-pay {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border-color: #cfcfcf;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin: 11px 0px;

    /* box-shadow: #c8bcbc 0px 0px 0px 1px; */
}

.node{
    height: 400px;
}

.tel-pay {
    position: relative;
}

.inp-tel {
    position: relative;
}

.con {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 11.5px;
}

.con > select {
    margin: 2px;
    height: 44px;
    border: none;
    border-left: 1px solid #ccc;
    outline: none;
    color: rgb(121, 121, 120);
}

.ship > h2 {
    font-size: 19px;
}

.span-ship {
    width: 100%;
    border: none;
    background-color: #d1ecf1;
}

.payment-methods > h2 {
    font-size: 19px;
}

.pay-icon {
    float: right;
}

.column-right-pay {
    padding: 10px;
    border-left: 1px solid rgb(196, 196, 196);
    /* background-color: aqua; */
}

.pay-products{
    max-height: 225px;
    overflow: auto;
}

.column-right-pay > h2 {
    font-size: 19px;
    padding: 20px;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.box-prd-pay {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /* margin: 20px; */
    align-items: center;
    padding: 10px 10px 10px 0 ;
}

.box-prd-pay > .img-prd-pay {
    border: 1px solid #dddddd;
    border-radius: 8px;
    position: relative;
}

.number-prd-pay {
    position: absolute;
    bottom: 42px;
    left: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.828);
    height: 20px;
    width: 15px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
}

.box-prd-pay > .img-prd-pay > img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.name-prd-pay {
    font-size: 14px;
}

.price-prd-pay {
    font-size: 14px;
    font-weight: 600;
}

.size-prd-pay,
.price-prd-pay {
    color: #919191;
}

.hr {
    width: 100%;
}

.discount-pay {
    margin: 20px 0px 0px 20px;
    display: flex;
    gap: 20px;
}

.ds-pay-ip > input {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
}

.ds-pay-btn > .order {
    width: 100px;
    height: 38px;
    background-color: #787878;
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

.discount-pay > .order:hover {
    border: solid 1px #333;
    background-color: #333;
}

.provisional-fee {
    margin: 20px 0px 0px 20px;
}

.provisional-fee > p {
    padding: 10px 0px;
    color: #717171;
    font-size: 14px;
}

.provisional-fee > p > span {
    float: right;
}

.total-payment {
    /* margin: 20px 0px 0px 20px; */
}

.total-payment > p {
    padding: 15px 0px;
    color: #2e2e2e;
    font-size: 20px;
}

.count-payment > p > span ,.total-payment > p > span {
    float: right;
    font-weight: 600;
}

.return-to-cart {
    /* margin: 20px 0px 0px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.return-to-cart > a {
    color: #333;
    font-size: 16px;
}

.icon {
    font-size: 16px;
}

.return-to-cart > a:hover {
    color: rgb(11, 11, 188);
}

.return-to-cart > .order {
    float: right;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #343433;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.return-to-cart > .order:hover {
    background-color: black;
}

.count{
    padding: 5px 0;
    display: block;
}

@media screen and (max-width: 900px) {
    .page-payment {
        display: block;
        width: 90%;
    }

    .column-left-pay {
        margin: 0 auto;
        width: 100%;
        /* background-color: #b10b0b; */
    }

    .column-right-pay {
        width: 95%;
        margin: 0 auto;
        border: none;
        margin-bottom: 100px;
    }

    .discount-pay > input {
        width: 76%;
    }

    .discount-pay > .order {
        width: 21%;
    }

    .atm > i,
    .cod > i {
        display: none;
    }

    .center-img > img {
        width: 250px;
        height: 60px;
    }
}

@media screen and (max-width: 450px) {
    .in4-payment {
        display: block;
    }

    .receiving-in4 {
        width: 100%;
    }

    .shipping-in4 {
        width: 100%;
    }

    .atm,
    .cod {
        display: flex;
    }

    .atm > i,
    .cod > i {
        display: block;
        margin-left: 10px !important;
    }

    .discount-pay > input {
        width: 70%;
    }

    .discount-pay > .order {
        width: 25%;
    }

    .column-right-pay {
        width: 100%;
    }

    .box-prd-pay {
        margin: 20px 0px;
    }

    .hr {
        margin: 0px 0px;
    }

    .discount-pay,
    .provisional-fee,
    .total-payment,
    .return-to-cart {
        margin: 18px 0px 0px 0px;
    }

    .center-img > img {
        width: 250px;
        height: 60px;
    }
}
