.user-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(17, 2, 2, 0.213);
}

.table .border{
    border: 1px solid rgba(17, 2, 2, 0.213);
    padding: 8px;
    text-align: center;
}



.user-profile > h1{
    /* margin-bottom: 10px; */
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 10px ;
    margin-bottom: 15px;
}

.user-input > input{
    width: 100%;
    border: 1px solid rgba(17, 2, 2, 0.213);
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    outline: none;
}

.user-submit{
    background-color: black;
    color: #fff;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.user-flex{
    display: flex;
    gap: 30px;
}

.user-select{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    /* justify-content: center; */
}

.flex-select{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    color: black;
    border: 1px solid rgba(17, 2, 2, 0.213);
}


.selected{
    background-color: black;
    color: #fff;
}