#container {
     width: 100%;
}

header {
     position: sticky;
     top: 0;
     display: flex;
     background-color: var(--white);
     align-items: center;
     box-shadow: var(--box-shadow);
}

.box-logo {
     width: 15%;
     padding-left: 2%;
}

.box-title {
     width: 85%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-right: 2%;
}

.logo {
     width: 100px;
     height: 100px;
     object-fit: contain;
}

.logo img {
     width: 100%;
     height: 100%;
}

.groups {
     display: flex;
     align-items: center;
     gap: 20px;
}

.groups .avatar {
     width: 50px;
     height: 50px;
     object-fit: contain;
     border: 2px solid var(--red-pink);
     padding: 8px;
     border-radius: 50%;
}

.groups .avatar img {
     width: 100%;
     height: 100%;
}

.title__name-user {
     color: var(--blue-gray);
}

main {
     display: flex;
}

/* article */
article {
     width: 15%;
     background-color: var(--background-color);
}

.category-manage {
     margin-top: 40px;
     display: grid;
     gap: 70px;
}

.category-manage li {
     padding: 20px 10px;
}

.category-manage li a {
     color: var(--white);
}

.active {
     background-color: var(--brown);
     transition: all .5s linear;
}

/* aside */
aside {
     width: 85%;
}

.slide {
     height: 300px;
     background-color: bisque
}

.slide img {
     object-fit: contain;
     width: 100%;
     height: 100%;
}