.container {
    width: min(100%);
    margin-inline: auto;
    /* margin: 0 auto; */
    padding-top: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form {
    width: 20%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
    text-align: center;
}
.form > img {
    width: 350px;
    height: 80px;
}
.form-logup {
    margin-top: 50px;
    border-top: 3px solid #2c2a2a;
    border-radius: 5px;
}
.form-logup > h2 {
    margin-top: 10px;
    color: #2b2626;
    font-size: 28px;
    font-weight: 600;
}
.form-logup > p {
    font-size: 18px;
    margin-top: -15px;
    color: #969696;
}
.ip-logup {
    text-align: left;
    border: 1px solid #d6d3d3;
    padding: 8px 0px;
    border-radius: 5px;
    margin-top: 20px;
}
.input-group-text {
    border-radius: px;
    padding: 7px 6px 7px 10px;
    border-right: 1px solid #d6d3d3;
    background-color: rgb(242, 246, 250);
}
.fa {
}
.fa-user {
}
.form-control {
    border: none;
}
.fa-envelope {
}
.fa-lock {
}
.btn-logup {
}
.ask1 {
}
.ask2 {
}
