.container {
    width: min(100%);
    margin-inline: auto;
    /* margin: 0 auto; */
    padding-top: 30px;
}
.form-logup {
    background-color: aquamarine;
    width: 30%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}
.ip-logup {
}
.input-group-text {
}
.fa {
}
.fa-user {
}
.form-control {
}
.fa-envelope {
}
.fa-lock {
}
.btn-logup {
}
.ask1 {
}
.ask2 {
}
